<div class="homeParent">
  <section class="container">
    <div class="row">
      <a routerLink="/java" routerLinkActive="active">
        <mat-card class="app-home-card">
          <mat-card-header>
            <mat-card-title>Java</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../assets/image/java.jpg" alt="spring boot">
          <mat-card-content>
            <p>
              Java Tutorial
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>comments</button>
          </mat-card-actions>
        </mat-card>
      </a>
      <a routerLink="/spring" routerLinkActive="active">
        <mat-card class="app-home-card">
          <mat-card-header>
            <mat-card-title>Spring</mat-card-title>
            <mat-card-subtitle>Spring Boot</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../assets/image/springBootImage.jpg" alt="spring boot">
          <mat-card-content>
            <p>
              Spring Boot Tutorial
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>comments</button>
          </mat-card-actions>
        </mat-card>
      </a>
      <mat-card class="app-home-card">
        <mat-card-header>
          <mat-card-title>React</mat-card-title>
          <mat-card-subtitle>React JS Tutorial</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/image/react.jpg" alt="Photo of Rajat Patel">
        <mat-card-content>
          <p>
            React Tutorial
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>comments</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="app-home-card">
        <mat-card-header>
          <mat-card-title>Angular</mat-card-title>
          <mat-card-subtitle>Angular JS Tutorial</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/image/angular.jpg" alt="Photo of Rajat Patel">
        <mat-card-content>
          <p>
            Angular JS Tutorial.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>comments</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</div>
